---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";

const PortraitImg = "../../public/portrait.jpg";
---

<BaseLayout>
  <header class="hero">
    <div class="stack gap-20 lg:gap-48">
      <div class="wrapper stack gap-8 lg:gap-20">
        <Hero
          title="Hello"
          tagline="I am a Creative Developer who is currently based in Portland, Oregon."
          align="start"
        />
      </div>
    </div>
    <img
      alt="Jeanine White smiling in a red plaid shirt and tortoise shell glasses"
      width="480"
      height="620"
      src={PortraitImg}
    />
  </header>
  <div class="wrapper stack gap-20 lg:gap-48">
    <section class="section with-background with-cta">
      <header class="section-header stack gap-2 lg:gap-4">
        <h3>Projet</h3>
        <p>
          Take a look below at some of my featured work for clients from the
          past few years.
        </p>
      </header>
    </section>
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .hero img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }
  }
</style>
